@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color);
	font-family: 'Circular Std', Roboto, Helvetica, Arial, sans-serif;
	@apply text-base;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}

h1 {
	font-weight: 700;
	@apply text-2xl;
}
h2 {
	font-weight: 400;
	@apply text-xl;
}

input {
	border: solid var(--border-color) 2px;
	box-shadow: var(--text-color) 4px 4px;
	transition: 100ms all ease;
}

input:focus {
	outline: none;
	border: solid var(--border-color) 2px;
	box-shadow: var(--primary-color) 4px 4px;
	transform: scale(1.03);
}
