:root {
	--primary-color: #e55151;
	--background-color: #fcf4e7;
	--surface-background-color: #ffffff;
	--text-color: black;
	--border-color: var(--text-color);
	--border-shadow-color: var(--text-color);
	--error-color: #ff0000;
}
