@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fcf4e7;
	font-family: 'Circular Std', Roboto, Helvetica, Arial, sans-serif;
	@apply text-base;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}

h1 {
	font-weight: 700;
	@apply text-2xl;
}
h2 {
	font-weight: 400;
	@apply text-xl;
}
